.button{
    cursor: pointer;
    padding: 5px 10px;
    background-color: rgb(65, 65, 255);
    color:whitesmoke;
    
    font-size: inherit;

    border-radius: 15px;

    width: 100%;
}

.button:hover{
    background-color: rgba(86, 86, 255, 0.733);
}

.button:active{
    background-color: rgb(65, 65, 255);
}

.button.disabled{
    cursor: not-allowed;
    background-color: rgb(132, 132, 160);
}