.task{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;

    min-width: 300px;
    width: 40%;

    margin: auto
}

.task>.label{
    width: 100%;
    border-bottom: 1px solid rgba(53, 51, 51, 0.582);
}

.task>.label>.text{
    margin: 5px 0px;
    text-align: center;
}

.category{
    margin: 5px 0px
}

.description{
    width: 100%;
    min-height: 100px;
}

.description>.text{
    border: 1px solid rgb(141, 141, 141);
    border-radius: 5px;
    padding: 2px 5px;

    width: inherit;
    min-height: inherit;
    font-size: 16px;
}