*{
    margin: 0;
    padding: 0;
    border: 0;
}

.app-content{
    margin: 10px;
    padding: 5px 10px;
    min-height: 500px;
    background-color: whitesmoke;
    border-radius: 10px;
}

.label{
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}